body {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.title-container {
    width: fit-content;
    margin: 40px auto 20px auto;
}

.title {
    text-align: center;
    border-bottom: 3px solid black;
}

.input-container {
    margin: 20px auto 25px auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

.alert {
    display: none;
}

.header {
    margin-bottom: 100px;
}

.card {
    width: 18 rem;
}