* {
    box-sizing: border-box;
}

.main-div {
    max-width: 960px;
    margin: 0 auto;
}

header {
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

nav {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

ul {
    display: flex;
}

ul li {
    text-decoration: none;
    list-style-type: none;
    padding: 10px 15px;
    margin: 5px;
}

li a {
    text-decoration: none;
    color: blue;
}

.home {
    background-color: blue;
    border-radius: 6px;
}

.home a {
    color: white;
}

header img {
    width: 100%;
    padding: 20px;
    border: 1px solid grey;
    border-radius: 10px;
    margin-bottom: 10px;
}

main {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

main article {
    width: 33%;
    padding: 5px;
    text-align: center;
    border: 1px solid blue;
}

main article img {
    width: 100%;
    max-width: 300px;
}

@media screen and (max-width: 768px) {
    main {
        flex-direction: column;
    }

    main article {
        width: 100%;
        padding: 10px;
        margin: 10px 0;
        border: 1px solid grey;
        border-radius: 2px;
        display: flex;
        flex-direction: row;
        overflow: hidden;
        align-items: center;
    }

    article p {
        padding: 10px;
        text-align: justify;
        padding-right: 10px;
    }

}

@media screen and (max-width: 576px) {
    nav {
        width: 100%;
        flex-direction: column;
    }

    nav h1 {
        width: 100%;
        text-align: center;
        font-size: larger;
    }
    
    ul {
        flex-direction: column;
        width: 100%;
        text-align: center;
        font-size: larger;
        padding: 0;
    }

    ul li {
        width: 100%;
        border: 1px blue solid;
        margin: 0;
    }

    main article {
        flex-direction: column;
    }

    img {
        height: auto;
    }
}