* {
    box-sizing: border-box;
}

.main-div {
    max-width: 960px;
    margin: 0 auto;
    font-family: sans-serif;
}

header {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

ul {
    text-decoration: none;
    list-style: none;
    display: flex;
    justify-content: space-evenly;
    color: blue;
}

ul li {
    padding: 12px 18px;
    margin: 0;
}

ul li:first-child {
    background-color: rgb(85, 85, 180);
    color: white;
    border-radius: 4px;
}

header img {
    width: 100%;
    object-fit: cover;
    border: 1px solid grey;
    padding: 20px;
    border-radius: 4px;
    margin-bottom: 20px;
}

main {
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
}

main article {
    width: 33%;
    text-align: center;
    padding: 4px;
}

main article img {
    width: 100%;
    max-width: 300px;
}

main article p {
    padding: 5px;
}

@media screen and (max-width: 768px) {
    main {
        width: 100%;
        flex-direction: column;
    }

    main article {
        width: 100%;
        display: flex;
        flex-direction: row;
        border: 1px solid grey;
        border-radius: 3px;
        margin: 6px 0;
        padding: 8px;
    }

    main article p {
        display: flex;
        justify-content: center;
        align-items: center;
    }
    
}

@media screen and (max-width: 576px) {
    header {
        flex-direction: column;
    }
    
    header h1 {
        width: 100%;
        text-align: center;
        order: 1;
    }

    header nav {
        order: 3;
    }

    header nav ul {
        flex-direction: column;
        text-align: center;
        padding: 0;
        
    }

    header img {
        order: 2;
    }

    ul li {
        width: 100%;
        border: 1px solid rgb(85, 85, 180);
    }

    ul li:first-child {
        border-radius: 3px 3px 0 0;
    }

    main article {
        flex-direction: column;
        align-items: center;
    }
    
}